<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Пользователь <%= link_to @user.email, admin_user_url(@user) %> хочет удалить свой аккаунт.
    </p>
  </body>
</html>
