<div class="container" style="margin-top: 50px">
  <%= link_to admin_tabs_path do %>
    <h2>Страницы</h2>
  <% end %>
  <%= link_to admin_users_path do %>
    <h2>Пользователи</h2>
  <% end %>
  <%= link_to admin_download_actions_path do %>
    <h2>Журнал загрузок</h2>
  <% end %>
</div>
