html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font: {
    size: 100%;
    family: $primary-font;
  }

  color: $color-3;
  background-color: $background;
}

a {
  text-decoration: none;
}

table {
  & tr {
    & td {
      vertical-align: top;
      text-align: left;
    }
  }
}

.message {
  color: red;
}

img {
  max-width: 100% !important;
  height: auto !important;
}

.fa {
  margin: 0 5px;
}

.select-style select:focus {
  outline: none;
}
