$background: #2e313d;
$color-1: #03bb91;
$color-2: #f0f1e7;
$color-3: #65676f;
$color-4: #1eaf54;
$header-height-S: 50px;
$header-height-M: 70px;
$intro-height-S: 150px;
$intro-height-M: 250px;
$intro-height-L: 350px;
$primary-font: 'Ubuntu', sans-serif;
$elements: intro-image, main-content, navigation;
