<p>
  <%= "Уважаемый #{@resource.email}!" %>
</p>

<p>
  Вы можете активировать свою учетную запись, нажав кнопку "Активировать" ниже.
  Нажимая кнопку "Активировать" вы выражаете согласие на обработку своих персональных данных, предусмотренную Федеральным законом Российской Федерации от 27 июля 2006 г. № 152-ФЗ в соответствии с частью 1 статьи 9, в целях предоставления услуг по загрузке и бесплатного тестирования программных продуктов общества с ограниченной ответственностью "Лаборатория Приезжева".
</p>

<p>
  <%= link_to t('.action', :default => "Активировать"), confirmation_url(@resource, :confirmation_token => @token, locale: I18n.locale) %>
</p>

<p>
  Также Вы можете редактировать и имеете возможность удалить свою учетную запись после активации следуя инструкции на сайте www.ivanplab.ru
</p>
