<footer>
  <!-- <div>
    <i class="fa fa-envelope-o" aria-hidden="true"></i>
    <a href="mailto:ivanpriez@gmail.com">ivanpriez@gmail.com</a>
  </div>
  <div>
    <i class="fa fa-phone" aria-hidden="true"></i>
    <a href="tel:+79161539416">+7 916 153 9416</a>
  </div> -->
  <div>
    <!-- <i class="fa fa-map-marker" aria-hidden="true"></i> -->
    <%= t('address', year: Time.current.year) %>
  </div>
</footer>
